@charset "utf-8";
/* CSS Document */

H1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
        text-align:left;
	margin-left: 50px;
	color: #575757;
	font-size: 3.1em;
	font-weight: bold;
}

p {
	/* font-family: 'Abel', sans-serif; */
	font-family: 'Yanone Kaffeesatz', sans-serif;
        text-align:center;
	margin-left: 400px;
	color: black;
	font-size: 3.1em;
	font-weight: bold;
	display:inline;
}

figure {
	float: right;
	margin-right: 550px;
	display:inline;
}
