<!DOCTYPE html>

<!-- FONTS -->
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

<html>
<head>
<link href="static/smugness.css" rel="stylesheet" type="text/css">
<title>Smugness</title>
</head>

<body>
<H1> Your location: </H1>
<p> {{text1}}, {{text2}} </p>

<H1> Your weather is: </H1>
<p> {{text3}} </p>

<figure>
	<img border="0" src="/static/{{img_name1}}.png" alt="{{img_name1}}" width="100">
</figure>

<p2> {{temp1}}</p2>

<H1> Is the weather 'better' in New York? </H1>
<p> {{text4}}</p>

<figure>
	<img border="0" src="/static/{{img_name2}}.png" alt="{{img_name2}}" width="100">
</figure>

<p2> {{temp2}}</p2>

</body>
